<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename= 'css/style.css')}}">
    <script src="https://kit.fontawesome.com/aaa333ab1c.js" crossorigin="anonymous"></script>
</head>



<body>
    <div class="contenedor">
        <header>
            <div class="logo">
                <img src=".\static\images\can1-removebg-preview.png" alt="Logo-canna">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Usuario: </a> </li>
                    <Li><a href="/cerrar">Cerrar</a> </Li>
                </ul>
            </nav>
        </header>
            <div class="row">
                
                <div class="img-fondo">
                    <img src=".\static\images\CBD.jpg" >
                </div>
                <!-- <div class="img-fondo-2">
                    <h1>Descubre el poder del CBD </h1>
                    
                </div> -->
            </div>
        <a href="/registrar_producto">Registrar Producto</a><br>
        <a href="/mostrar_productos">Ver Productos</a>
    </div>


</body>

</html>